<link rel="import"  href="../polymer/polymer.html">
<link rel="import" href="../core-signals/core-signals.html">

<polymer-element attributes="reverse startTime prefix" name="g-chronometer">
  <template>
    <style>
    </style>
    Tiempo <span id="chronotime">00:00:00</span>
  </template>
  <script>
  Polymer({
    prefix: '',
    ready: function (){
        this.setTime(this.startTime);
        this.chrono();
      },
    startTime: { hour: 0, min: 10, sec: 0 },
    secs: 0,
    reverse: false,
    timerID : 0,
    dt: 1000,
    fireEnd: true,
    _stop_: true,
    setTime: function (startTime) {
          this.resetSecs = this.secs = startTime.hour*3600 + startTime.min*60 + startTime.sec;
        },
    chrono: function () { this._chrono_(this); },
    _chrono_: function (self) {
          console.log("tick", self._stop_, self.secs);
          if (self._stop_) {
            ;
          } 
          else if (self.secs <= 0) {
            if (!self.fireEnd) {
              console.log(self.fireEnd);
              self.fireEnd = true;
              self.fire('core-signal', {name: "chrono-end", data: null});
            }
          }
          else if (self.reverse) {
            self.secs -= self.dt/1000;
          }
          else {
            self.secs += self.dt/1000;
          }
          
          var min = Math.floor( ( self.secs / 60 ) % 60 );
          var sec = Math.floor( self.secs % 60 );
          var hr = Math.floor( ( self.secs / 3600 ) % 100 );
          if (min < 10){
                  min = "0" + min;
          }
          if (sec < 10){
                  sec = "0" + sec;
          }
          self.$.chronotime.textContent = (hr ? (hr + ":") : "" ) + min + ":" + sec ;
          self.timerID = setTimeout( self._chrono_, self.dt, self);
        },
    start: function(){
          this._stop_ = false;
          this.fireEnd = false;
        },
    stop: function(){
          this._stop_ = true;
          this.fireEnd = true;
        },
    reset: function () {
          this.secs = this.resetSecs;
          this.fireEnd = false;
        },
    
  });
  </script>
</polymer-element>